* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ef3568;
}

.btn-descending {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  background-color: #ef3568;
  color: #94d40d;
}
.btn-descending:hover {
  cursor: pointer;
}

.btn-ascending {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  background-color: #ef3568;
  color: #94d40d;
}
.btn-ascending:hover {
  cursor: pointer;
}

body {
  background-color: #ffe4f8;
  color: #ef3568;
  font-family: "Poppins";
}
body section.animation-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ef3568;
}
body section.animation-wrapper section.animation {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.animation-wrapper section.animation .hero {
  width: 100%;
  height: 0;
}
body section.animation-wrapper section.animation .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.animation-wrapper .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #ffe4f8, #f17d9c);
  z-index: -1;
}
body header nav {
  box-shadow: 0 5px 5px -5px #be2951;
}
body header nav ul {
  display: flex;
  justify-content: center;
}
body header nav ul li {
  padding: 1rem;
}
body header nav ul li a {
  transition: all 0.3s ease;
}
body header nav ul li a:hover {
  color: #94d40d;
}
body main section.main-part {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body main section.main-part h1 {
  font-size: 2.5rem;
}
body main section.main-part div.all-inputs form input,
body main section.main-part div.all-inputs form select {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  margin: 0.2rem;
  border-radius: 10px;
}
body main section.main-part div.all-inputs form input.class-type {
  width: 30%;
}
body main section.main-part div.all-inputs form input.class-number {
  width: 25%;
}
body main section.main-part div.all-inputs form input.class-credits {
  width: 15%;
}
body main section.main-part div.all-inputs form button.trash-button {
  border: none;
  cursor: pointer;
  background-color: #ffe4f8;
}
body main section.main-part div.all-inputs form button.trash-button i {
  font-size: 1rem;
  pointer-events: none;
  padding: 0.5rem;
  color: #94d40d;
}
body main section.main-part button.plus-btn {
  background-color: #ffe4f8;
  border: none;
  width: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
body main section.main-part button.plus-btn i {
  font-size: 2.5rem;
  color: #94d40d;
}
body main section.main-part div.result {
  width: 200px;
  height: 200px;
  border: 3px solid red;
  border-radius: 50%;
  text-align: center;
  animation-name: border_color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
body main section.main-part div.result p {
  margin-top: 35px;
}
body main section.main-part div.result h1 {
  font-size: 3.5rem;
}

.remove {
  transform: scale(0);
  transition: all 0.5s ease;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes border_color {
  0% {
    border-color: red;
  }
  33% {
    border-color: rgb(34, 219, 44);
  }
  66% {
    border-color: rgb(104, 49, 175);
  }
}/*# sourceMappingURL=style.css.map */